@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Doto:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&display=swap');

.services-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
    overflow: hidden; 
    background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 0, 0, 0.279)
    );
  }
  
  .services-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #d32f2f;
    margin-bottom: 20px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    max-width: 1200px;
    margin: auto;
  }
  
  .service-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
  }
  
  .img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
  }

  .service-card:hover .service-image {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .service-title {
    font-size: 1.5rem;
    color: #333;
    margin: 15px 0;
  }
  
  .service-description {
    font-size: 1rem;
    color: #555;
    text-align: center;
  }
  