.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.3px solid #d0d0d0;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.805);
  backdrop-filter: blur(10px);
}

#logo {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.navContents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}
.navContents ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navContents ul li {
  margin: 0 px;
  font-size: 16px;
  padding: 5px 15px;
  transition: 0.3s;
}

.navContents ul li a {
  text-decoration: none;
  color: rgb(124, 0, 0);
  transition: 0.3s;
}

.navContents ul li.active {
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navContents {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    display: none;
    flex-direction: column;
    z-index: 1;
  }

  .navContents.active {
    display: flex;
  }

  .navContents ul {
    flex-direction: column;
    padding: 0;
  }

  .navContents ul li {
    margin: 15px 0;
  }
}
