@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Doto:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&display=swap');

.clients-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 0, 0, 0.108)
    );
}
  
  .clients-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #d32f2f;
    margin-bottom: 30px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .clients-slider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative; 
    position: relative;
  }
  .clients-slider::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, white, transparent);
  }
  .clients-slider::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to left, white, transparent);
  }

  
  .clients-track {
    display: flex;
    gap: 40px; /* Increased spacing between images */
    animation: scroll 13s linear infinite;
  }
  
  .client-logo {
    height: 250px;  /* Increased height */
    width: auto;
    display: inline-block;
    border-radius: 10px;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-150%);
    }
  }
  
  @media (max-width: 768px) {
    .client-logo {
      height: 150px; /* Smaller images for mobile */
    }
  }
  